@page
@model IndexModel
@{
    ViewData["Title"] = "ASP.NET Core 3.1 Application";
}

<div class="main-container">
    <div class="content">
         <div class="content-body">
            <div class="success-text">Well done !</div>
            <div class="description line-1"> Welcome to Github Hands on Lab ! </div>
            <div class="description line-2"> Your ASP.NET Core app is up and running on Azure now</div>
        </div>
    </div>
</div>
